VITE_CONTENT_URL=https://raw.githubusercontent.com/Orbisite/model/main/api-aurora/content.json
VITE_THEME_URL=https://raw.githubusercontent.com/Orbisite/model/main/api-aurora/theme.json
VITE_SITE_URL=https://raw.githubusercontent.com/Orbisite/model/main/api-aurora/site.json
VITE_API_IMG_BASE=https://raw.githubusercontent.com/Orbisite/model/main/api-aurora/img
